# python~=3.11
tensorflow~=2.16.2
tensorflow-macos==2.16.2
opencv-python~=4.10.0.84
matplotlib==3.10.0
matplotlib~=3.10.0
scikit-learn~=1.6.0
keras~=3.7.0
tqdm~=4.67.1
torch~=2.4.0
transformers~=4.47.1
diffusers[torch]~=0.31.0
scikit-learn==1.6.0
